[Desktop Entry]
Type=Application
Name=ApprenticeVR
Comment=A modern, cross-platform desktop application designed for managing and sideloading content onto Meta Quest devices
Exec=forge %U
Icon=forge
Categories=Games;
Terminal=false
MimeType=x-scheme-handler/forge;
StartupWMClass=forge 